#user_taskList {
  margin: auto;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  padding: 0px;
}
  
#user_taskList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  vertical-align: middle;
  background-color: #4CAF50;
  color: white;
  border: 1px solid white;
}

#user_taskList td {
  border: 1px solid #ddd;
  padding: 8px;
  display: table-cell;
  word-break:break-all;
}

#user_taskList tr:nth-child(even){background-color: #f2f2f2;}

#user_taskList tr:hover {background-color: #ddd;}

.tableLeftColumn {
  width: 67%;
}

.tableColumn {
  width: 8.25%
}

.buttonCell {
  text-align: center; 
  vertical-align: middle;
}

.greet {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.navHeader {
  width: 100%;
  background-color: #4CAF50;
  padding: 12px;
  text-align: center;
  font-size: x-large;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: 0%;
}

#taskForm {
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.login {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: xx-large;
}

.register {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: x-large;
}

.flashedMessages {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.navButton {
  display:inline-block;
  background-color: #5f9661;
}

.navButton a {
  color: white;
  text-decoration: none;
  padding: 4px;
}

.title {
  font-size: xx-large;
  color: white;
}

textarea {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  height: 6%;
  width: 45%;
}

/* Alert - position it at the top and in the middle of the screen */
.alert {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 20px;
  background-color: #ff8c84;
  color: black;
  opacity: 1;
  margin-bottom: 15px;
  border-radius: 5px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform:         translate(-50%, -50%);
}

.close {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
}

.close:hover {
  color: white;
}

.background {
  overflow: hidden; 
  background-color: white; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #50e666 , #c9f2cf);
}

body{
  margin:0;
}