{% extends "base.html" %}

{% block content %}
<script>
    var userTaskList = [];
    var getTasksUrl = "{{ url_for('getTasks') }}";
    var deleteTasksUrl = "{{ url_for('delete') }}";
    var editTasksUrl = "{{ url_for('edit') }}";
</script>
<div id="vue-div">
    <div class="greet">
        <h1>Hi, {{ current_user.username }}!</h1>
    </div>
    <div id="taskForm">
        {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.task.label }}<br>
                {{ form.task(cols=64, rows=3) }}<br>
                {% for error in form.task.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        {% endif %}
    </div>
    <table id="user_taskList">
        <tr>
            <th>Task</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <div v-for="{data, id, isEditing, isFocus, _idx} in tasks">
            <div :load="log(data)"></div>
            <tr :id="id">
                <td :id="'taskBody_' + id">
                    <b>  <%data%>  </b>
                </td>
                <!-- 
                <td id="'taskEditButton_' + id">
                    <i id="'editButton_' + id" v-if="isEditing" class="fas fa-edit editButton"
                        v-on:mouseover='taskMouseover(id)' v-on:click='editTask(id)'></i>
                </td>
                <td id="'taskEditButton_' + id">
                        <i id="'editButton_' + id" v-if="!isEditing" class="fas fa-edit editButton"
                            v-on:mouseover='taskMouseover(id)' v-on:click='editTask(id)'></i>
                </td> -->

                <td :id="'taskEditButton_' + id">
                    <button :id="'editButton_' + id" class="editButton"
                        v-on:click='editTask(id)'>Edit</button>
                </td>
                <td :id="'taskDeleteButton_' + id">
                    <button :id="'deleteButton_' + id" class="deleteButton"
                        v-on:click='deleteTask(id)'>Delete</button>
                </td>
            </tr>
        </div>
    </table>
</div>
<script src="/static/scripts.js" charset="utf-8"></script>
{% endblock %}